<div class="card shadow mb-4">
	<div class="card-body">
		<!-- ===== FILTRO DE MÊS/ANO ===== -->
		<div class="row mb-3">
			<div class="col-lg-3">
				<label>Mês:</label>
				<select id="filtroMes" class="form-control">
					<option value="1">Janeiro</option>
					<option value="2">Fevereiro</option>
					<option value="3">Março</option>
					<option value="4">Abril</option>
					<option value="5">Maio</option>
					<option value="6">Junho</option>
					<option value="7">Julho</option>
					<option value="8">Agosto</option>
					<option value="9">Setembro</option>
					<option value="10">Outubro</option>
					<option value="11">Novembro</option>
					<option value="12">Dezembro</option>
				</select>
			</div>

			<div class="col-lg-3">
				<label>Ano:</label>
				<input id="filtroAno" type="number" class="form-control" min="1900" max="2100" value="<%= ano %>">
			</div>

			<div class="col-lg-3 d-flex align-items-end">
				<button id="btnFiltrar" class="btn btn-primary w-100">
					Filtrar
				</button>
			</div>
		</div>

		<!-- Calendario -->
		<div id="calendario"></div>
	</div>
</div>

<!-- Approach -->
<div class="row">
	<div class="col-sm-6">
		<div class="card shadow mb-4">
			<div class="card-header" style="padding: 20px;">
				Objetivos acadêmicos do PGT para a instituição ESPM
			</div>
			<div class="card-body">
				<p style="font-size: 90% ;">Favorecer o enriquecimento do conhecimento acadêmico diante da realidade de
					Sistemas de Informação do setor empresarial, através de prática e instrumentação
					do aproveitamento teórico do estudante.
				</p>
				<p style="font-size: 90% ;" class="mb-0">
					Proporcionar ao aluno uma visão prática dos processos de planejamento,
					desenvolvimento, implantação e gerenciamento de sistemas de informação através da
					solução de um problema de mercado e exploração qualificada de oportunidades. Além
					disso, estimular uma visão gerencial e a busca por soluções novas e eficientes no processo
					de viabilidade de ações.
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card shadow mb-4">
			<div class="card-header" style="padding: 20px;">
				Origem do Sistema de controle PGT
			</div>
			<div class="card-body">
				<p style="font-size: 90% ;">O sistema de controle de PGTs foi desenvolvido por um conjunto de alunos da
					ESPM
					como um projeto do laboratório experimental.
				</p>
				<p style="font-size: 90% ;" class="mb-0">Este sistema tem como objetivo ajudar tanto a secretaria quanto
					os
					alunos
					no gerenciamento, organização e criação dos PGTS dos alunos de 7° e 8° semestre.</p>
			</div>
		</div>
	</div>
</div>

<%- contentFor("styles") %>

<link rel="stylesheet" href="<%- staticRoot %>/lib/fullcalendar/main.min.css" />

<style type="text/css">
	.fc-h-event {
		cursor: pointer;
	}
</style>

<%- contentFor("scripts") %>

<script type="text/javascript" src="<%- staticRoot %>/lib/fullcalendar/main.min.js"></script>
<script type="text/javascript" src="<%- staticRoot %>/lib/fullcalendar/locales-all.min.js"></script>

<script type="text/javascript">
	//<![CDATA[
	"use strict";

	let listaPGTs = <%- JSON.stringify(lista) %>;
	let listaDatas = <%- JSON.stringify(listad) %>;

	let anoAtual = parseInt("<%= ano %>");
	let mesAtual = parseInt("<%= mes %>");
	let eventos = [];

	for (const pgt of listaPGTs) {
		if (!pgt.data2 && pgt.data1) {
			eventos.push({
				title: pgt.nome,
				start: DataUtil.converterDataISO(pgt.data1),
				backgroundColor: "#007bff",
				borderColor: "#007bff",
				textColor: textColorForBackground("#007bff"),
				extendedProps: { 
					idpgt: pgt.id,
					url: `<%= root %>/pgt/detalhar?id=${pgt.id}`
				}
			});
		}

		if (pgt.data2) {
			eventos.push({
				title: pgt.nome,
				start: DataUtil.converterDataISO(pgt.data2),
				backgroundColor: "#e91e63",
				borderColor: "#e91e63",
				textColor: textColorForBackground("#e91e63"),
				extendedProps: { idpgt: pgt.id }
			});
		}
	}

	for (const data of listaDatas) {
		eventos.push({
			title: "Entrega " + data.idtipo + " da fase " + data.idfase,
			start: DataUtil.converterDataISO(data.data),
			backgroundColor: "#008000",
			borderColor: "#008000",
			textColor: textColorForBackground("#007bff"),
			extendedProps: { 
				url: `<%= root %>/dataent/listar`
			}
		});
	}

	// https://fullcalendar.io/docs/v5/height
	// https://fullcalendar.io/docs/v5/validRange
	let calendar = new FullCalendar.Calendar(document.getElementById("calendario"), {
		initialView: "dayGridMonth",
		initialDate: `${anoAtual}-${(mesAtual < 10 ? ("0" + mesAtual) : mesAtual)}-01`,
		locale: "pt-br",
		editable: false,
		events: eventos,
		height: "auto",
		headerToolbar: false,
		eventClick: function (info) {
			const url = info.event.extendedProps.url;
			if (url) {
				window.location.href = url;
			}
		},
	});

	const inputMes = document.getElementById("filtroMes");
	const inputAno = document.getElementById("filtroAno");
	const botaoFiltrar = document.getElementById("btnFiltrar");

	document.getElementById("filtroMes").value = mesAtual;

	botaoFiltrar.addEventListener("click", function () {
		let mes = parseInt(inputMes.value);
		let ano = parseInt(inputAno.value);

		if (!ano || !mes) return alert("Selecione mês e ano válidos!");

		let mesFormatado = mes < 10 ? "0" + mes : mes;

		calendar.gotoDate(`${ano}-${mesFormatado}-01`);
	});


	calendar.render();
	//]]>
</script>