<h5 id="subtitulo"> Relatório de <%-((item.idfase === 1) ? 'Qualificação' : 'Defesa' ) %> - <span style="color:#b2312f;">
    <% for (let i = 0; i < tipos.length; i++) {%>
        <%- (item && (item.idtipo === tipos[i].id))? tipos[i].nome : '' %>
    <%}%>
</span> - <% for (let i = 0; i < semestres.length; i++) {%>
    <%- (item && (item.idsemestre === semestres[i].id))? semestres[i].nome : '' %>
<%}%>
</h5>
<br>

<div class="container">
    <div class="row">
        <% for (let i = 0; i < perguntas.length; i++) {%>
            <div class="colunaCriterio<%= i + 1%> col-xl-6 col-lg-6 col-md-12 pb-3 px-1 d-flex flex-column justify-content-between">
                <div class="card shadow-sm h-100 m-lg-2 m-xl-3">
                    <div class="card-header" style="padding-bottom: 0px">
                        <h5 class="card-title"><strong>Critério <%= i + 1%>: <%= perguntas[i].titulo %></strong></h5>
                    </div>
                    <div class="card-body">
                        <label class="card-subtitle text-muted"><strong>Peso: (<%= `${perguntas[i].peso * 100}%` %>)</strong></label>
                        <div class="mt-3">
                            <%- perguntas[i].criterios %>
                        </div>
                        <div class="mt-3">
                            <textarea class="form-control" rows="3" id="comentario<%= i + 1%>" name="comentario<%= i + 1%>"
                                placeholder="Comentários"></textarea>
                        </div>
                        <div class="mt-3">
                            <label for="nota<%= i + 1%>"><strong>Notas de 0 a 10,0:</strong></label>
                            <input class="form-control w-50" oninput="atualizar(nota<%= i + 1%>, <%= perguntas[i].peso %>)" type="number" id="nota<%= i + 1%>" name="nota<%= i + 1%>" min="0" max="10" placeholder="0" required>
                        </div>
                        <div class="mt-3">
                            Nota com peso: <output id="xf" name="xf" for="nota<%= i + 1%>">0,0</output>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
    <div class="row mt-4">
        <h5>
            <label for="notaFinal"><strong>Nota final do trabalho avaliado:</strong></label>
            <output name="demo" id="demo" for="notaFinal" class="fw-bold">0</output>
        </h5>
    </div>
</div>

<input name="idpgt" value="<%= item.id %>" class="d-none">
<input name="idautor" value="<%= usuario.id %>" class="d-none">
<input name="idtipo" value="<%= ((item.idfase === 1) ? 1 : 2 ) %>" class="d-none">
<input name="notafinal" id="notafinal" value="0" class="d-none">

<%- contentFor("scripts") %>

<script>
    "use strict";

    function atualizar(inputNota, peso) {
            let nota = parseFloat(inputNota.value.replace(",", "."));

            if (isNaN(nota)) {
                nota = 0;
            }

            nota *= peso;

            let outputSaida;

            let arrayNotas = []
            <% for (let i = 0; i < perguntas.length; i++) {%>
                let n<%= i + 1%> = parseFloat(nota<%= i + 1%>.value.replace(",", "."));
                
                if (isNaN(n<%= i + 1%>))
                    n<%= i + 1%> = 0;
            
                n<%= i + 1%> *= <%= perguntas[i].peso %>;

                arrayNotas.push(n<%= i + 1%>)

                outputSaida = document.querySelector('#xf[for="nota<%= i + 1 %>"]')
                outputSaida.value = n<%= i + 1%>.toFixed(1).replace(".", ",");
            <%} %>

            let notaFinal = arrayNotas.reduce((acc, elem) => acc + elem).toFixed(1);

            demo.value = notaFinal.replace(".", ",");
            document.querySelector("#notafinal").value = notaFinal;
        }

    let requiredFields = {
        <% for (let i = 0; i < perguntas.length; i++) {%>
            nota<%= i + 1%>: {
                required: true
            },
        <%} %>
    }

	$("#form").validate({
		rules: requiredFields, 
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			JsonWebApi.postFormData("<%- root %>/api/pgt/avaliar", form, function (response) {
                console.log({response})
				if (response.success) {
					resetForm("#form");
					Swal.success("PGT avaliado com sucesso! " + emoji.happy).then(() => {
						window.location.href = "/pgt/detalhar?id=<%= item.id %>"
					});
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});
		}
	});
</script>