<h5 id="subtitulo"> Relatório de <%-((item.idfase === 1) ? 'Qualificação' : 'Defesa' ) %> - <span style="color:#b2312f;">
    <% for (let i = 0; i < tipos.length; i++) {%>
        <%- (item && (item.idtipo === tipos[i].id))? tipos[i].nome : '' %>
    <%}%>
</span> - <% for (let i = 0; i < semestres.length; i++) {%>
    <%- (item && (item.idsemestre === semestres[i].id))? semestres[i].nome : '' %>
<%}%>
</h5>
<br>

<!-- Início do formulário -->
<form>
    <% for (let i = 0; i < perguntas.length; i++) {%>
        <div class="colunaCriterio<%= i + 1%>">
            <div class="campo">
                <label><strong>Critério:</strong></label>
                <label><Strong><%= i + 1%>. <%= perguntas[i].titulo %></Strong></label>
                
                <%- perguntas[i].criterios %>
    
                <label style="padding-top: 10px; padding-bottom: 10px;"><strong>Peso: (<%= `${perguntas[i].peso * 100}%` %>)</strong></label>
                <textarea rows="3" style="width: 26em" id="comentarios<%= i + 1%>" name="comentarios<%= i + 1%>"
                    placeholder="Comentários"></textarea>
    
                <label for="nota<%= i + 1%>" style="padding-top: 10px; padding-bottom: 10px;"><strong>Notas de 0 a
                        10,0:</strong></label>
                <input oninput="atualizar(nota<%= i + 1%>, xf, <%= perguntas[i].peso %>)" type="number" id="nota<%= i + 1%>" name="nota<%= i + 1%>" min="0" max="10"
                    placeholder=" 0 - 10" required>
    
                || Nota pós aplicação do peso: <output id="xf" name="xf" for="nota<%= i + 1%>">0,0</output>
            </div>
        </div>
    <%}%>


    <div style="padding-top: 10px;">
        <label for="notaFinal"
            style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; font-size: larger;"><strong>Nota final
                do trabalho avaliado:</strong></label>
        <output name="demo" id="demo" for="notaFinal" style="font-size: 20px;"><strong>0</strong></output>
    </div>

    <script>
        function atualizar(inputNota, outputSaida, peso) {
            let nota = parseFloat(inputNota.value.replace(",", "."));

            if (isNaN(nota)) {
                nota = 0;
            }

            nota *= peso;

            outputSaida.value = nota.toFixed(1).replace(".", ",");

            let arrayNotas = []
            <% for (let i = 0; i < perguntas.length; i++) {%>
                let n<%= i + 1%> = parseFloat(nota1.value.replace(",", "."));
                    
                if (isNaN(n<%= i + 1%>))
                    n<%= i + 1%> = 0;
            
                n<%= i + 1%> *= <%= perguntas[i].peso %>;

                arrayNotas.push(n<%= i + 1%>)
            <%} %>

            demo.value = arrayNotas.reduce((acc, elem) => acc + elem).toFixed(1).replace(".", ",");
        }

    </script>


    <!-- Botão para enviar o formulário -->
    <button class="botao" type="submit" onsubmit="" onclick="clicked(event)">Enviar</button>

    <script>
        function clicked(e) {
            if (!confirm('Tem certeza que deseja enviar o formulário?')) {
                e.preventDefault();
            }
        }
    </script>
</form>