<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <h3>Fase do PGT</h3>
                        <% for (let i = 0; i < fases.length; i++) { %>
                            <%-((item.idfase === fases[i].id) ? '<h4>' + fases[i].nome + '</h4>' : '') %>
                        <% } %>
                    </div>
                    <div class="col-3">
                        <h3>Semestre do PGT</h3>
                        <% for (let i = 0; i < semestres.length; i++) { %>
                            <%-((item.idsemestre === semestres[i].id) ? '<h4>' + semestres[i].nome + '</h4>' : '') %>
                        <% } %>
                    </div>
                    <div class="col-3">
                        <h3>Tipo do PGT</h3>
                        <% for (let i = 0; i < tipos.length; i++) { %>
                            <%-((item.idtipo === tipos[i].id) ? '<h4>' + tipos[i].nome + '</h4>' : '') %>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    Tabela de atas
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container-fluid">
                <div class="row">
                    <h3>Alunos</h3>
                </div>
                <div class="row">
                    <h3>Bancas e notas</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <a type="button" class="btn btn-primary" 
                                href="<%- root %>/pgt/avaliar?pgt=<%- item.id %>">Avaliar</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 flex-column">
                                Qualificação
                                <div class="col-6">
                                    Nota
                                </div>
                            </div>
                            <div class="col-6 flex-column">
                                Defesa
                                <div class="col-6">
                                    Nota
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>