<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Fase</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <% for (let i=0; i < fases.length; i++) { %>
                                        <%-((item.idfase===fases[i].id) ? fases[i].nome  : '' ) %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-book-open fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    <% for (let i=0; i < semestres.length; i++) { %>
                                        <%-((item.idsemestre===semestres[i].id) ? semestres[i].nome  : '' ) %>
                                    <% } %></div>
                                <% if (item.idfase === 1) { %>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        Banca - <%= item.data1 %>
                                    </div>
                                <% } %>
                                <% if (item.idfase > 1) { %>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        Banca - <%= item.data2 %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body h-100">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Membros
                                </div>
                                <div class="mb-0 text-gray-800">
                                    <% if (item && item.alunos) { 
                                        for (let i = 0; i < item.alunos.length; i++) { 
                                        const aluno = item.alunos[i]; %>
                                        <%- aluno.nome + ' ' %>
                                            <br>
                                        <% } 
                                    } %>                            
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 mb-4">
            <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center" style="text-align: center;">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 align-items-center" style="font-size: 23px;">
                            Qualificação</div>
                        <div class="h5 mb-2 text-gray-800" style="font-size: 30px;">
                            <%=(qualificacao.nota ? qualificacao.nota.toFixed(1) : 'Não Avaliado') %>
                        </div>
                        <div>
                            <% if((usuario.id === item.idqualificador || usuario.id === item.idorientador1 || usuario.id === item.idorientador2) && qualificacao.preencher) { %>
                                <a class="btn btn-primary" href="<%- root %>/pgt/avaliar?pgt=<%- item.id %>">Avaliar</a>
                            <% } %>    
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
            </div>
            <div class="col-xl-6 mb-4">
                <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center" style="text-align: center;">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 align-items-center" style="font-size: 23px;">
                            Defesa</div>
                        <div class="h5 text-gray-800 mb-1" style="font-size: 30px;">
                            <%=(defesa.nota ? defesa.nota.toFixed(1) : 'Não Avaliado') %>
                        </div>
                        <% if((usuario.id === item.iddefesa1 || usuario.id === item.iddefesa2) && defesa.preencher) { %>
                                <a class="btn btn-primary" href="<%- root %>/pgt/avaliar?pgt=<%- item.id %>">Avaliar</a>
                        <% } %>    
                    </div>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="row">
            <div class="col-xl-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Professores Orientadores</div>
                        <div class="h5 mb-0 text-gray-800">
                            <%="Orientador 1 - " + (item.nomeorientador1 ? item.nomeorientador1 : 'Nenhum') +
                            "\n Orientador 2 - " + (item.nomeorientador2 ? item.nomeorientador2 : 'Nenhum')%>
                        </div>
                    </div>
                        <div class="col-auto">
                            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        
         </div>
        </div>
        <div class="row">
            <div class="col-xl-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Qualificador</div>
                        <div class="h5 mb-0 text-gray-800">
                            <%=(item.nomequalificador ? item.nomequalificador : 'Nenhum') %>
                        </div>
                    </div>
                        <div class="col-auto">
                            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        </div>
        <div class="row d-none">
            <div class="col-xl-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Defesa 1</div>
                        <div class="h5 mb-0 text-gray-800">
                            <%=(item.nomedefesa1 ? item.nomedefesa1 : 'Nenhum') %>
                        </div>
                    </div>
                        <div class="col-auto">
                            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        </div>
        <div class="row">
            <div class="col-xl-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Avaliador</div>
                        <div class="h5 mb-0 text-gray-800">
                            <%=(item.nomedefesa2 ? item.nomedefesa2 : 'Nenhum') %>
                        </div>
                    </div>
                        <div class="col-auto">
                            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        </div>
    </div>
</div>

<a target="_blank" class="btn btn-primary mb-3" href="<%- root %>/api/pgt/downloadAnexo?id=<%- item.id %>&idfase=<%- item.idfase%>">
    <i class="fa fa-paperclip"></i>
    Projeto
</a>

<a target="_blank" class="btn btn-primary mb-3 ml-3" href="<%= root %>/pgt/visualizar?id=<%= item.id %>">
    <i class="far fa-file"></i>
    Visualizar avaliações
</a>