<div class="container-fluid d-flex flex-row">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h4>Fase</h4>
                <% for (let i=0; i < fases.length; i++) { %>
                    <%-((item.idfase===fases[i].id) ? '<h5>' + fases[i].nome + '</h5>' : '' ) %>
                <% } %>
            </div>
            <div class="col-4">
                <h4>Semestre</h4>
                <% for (let i=0; i < semestres.length; i++) { %>
                    <%-((item.idsemestre===semestres[i].id) ? '<h5>' + semestres[i].nome + '</h5>' : '' ) %>
                <% } %>
            </div>
            <div class="col-4">
                <h4>Tipo</h4>
                <% for (let i=0; i < tipos.length; i++) { %>
                    <%-((item.idtipo===tipos[i].id) ? '<h5>' + tipos[i].nome + '</h5>' : '' ) %>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>Alunos membros</h4>
                <% for (let i=0; i < alunos.length; i++) { %>
                    <%-'<h5>' + alunos[i].nome + '</h5>' %>
                <% } %>
            </div>
        </div>
        <div class="row">
            <h3>Bancas e notas</h3>
            <div class="container">
                <div class="row flex-column">
                    <h4>Qualificação</h4>
                    <% if (item.idfase === 1 && item.idqualificador && !qualificacaoFinalizado) { %>
                        <div class="col-3">
                            <a type="button" class="btn btn-primary"
                            href="<%- root %>/pgt/avaliar?pgt=<%- item.id %>">Avaliar Qualificação
                            </a>
                        </div>
                    <% } else { %>
                        <div class="col-3">
                            <div class="alert alert-warning">
                                <% if (!item.idqualificador) { %>
                                    Professor(a) de qualificação não escolhido(a)
                                <% } %>
                            </div>
                        </div>
                    <% } %>

                    <% if(qualificacaoFinalizado) { %>
                        <div class="alert alert-danger">
                            QUALIFICAÇÃO FINALIZADO
                        </div>
                    <% } %>

                </div>
                <div class="row flex-column">
                    <h4>Defesa</h4>
                    <% if (item.idfase === 2 && item.iddefesa1 && item.iddefesa2 && !defesaFinalizado) { %>
                        <div class="col-6">
                            <a type="button" class="btn btn-primary"
                            href="<%- root %>/pgt/avaliar?pgt=<%- item.id %>">Avaliar Qualificação
                            </a>
                        </div>
                        <% } else { %>
                            <div class="col-3">
                                <% if (!item.iddefesa1) { %>
                                    <div class="alert alert-warning">
                                        Professor(a) 1 de defesa não escolhido(a)
                                    </div>
                                <% } %>
                                <% if (!item.iddefesa2) { %>
                                    <div class="alert alert-warning">
                                        Professor(a) 2 de defesa não escolhido(a)
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</div>