<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Fase</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <% for (let i=0; i < fases.length; i++) { %>
                                        <%-((item.idfase===fases[i].id) ? fases[i].nome  : '' ) %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-book-open fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    <% for (let i=0; i < semestres.length; i++) { %>
                                        <%-((item.idsemestre===semestres[i].id) ? semestres[i].nome  : '' ) %>
                                    <% } %></div>
                                <% if (item.idfase === 1) { %>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        Banca - <%= item.data1 %>
                                    </div>
                                <% } %>
                                <% if (item.idfase > 1) { %>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        Banca - <%= item.data2 %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body h-100">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Membros
                                </div>
                                <div class="mb-0 text-gray-800">
                                    <% if (item && item.alunos) { 
                                        for (let i = 0; i < item.alunos.length; i++) { 
                                        const aluno = item.alunos[i]; %>
                                        <%- aluno.nome + ' ' %>
                                            <br>
                                        <% } 
                                    } %>                            
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 mb-4">
            <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center" style="text-align: center;">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 align-items-center" style="font-size: 23px;">
                            Qualificação</div>
                        <div class="h5 mb-2 text-gray-800" style="font-size: 30px;">
                            <%=(qualificacao.nota ? qualificacao.nota.toFixed(1).replace('.', ',') : 'Não Avaliado') %>
                        </div>
                        <div>
                            <% if(item.idfase === FasePGT.PGT1 && (usuario.id === item.idqualificador || usuario.id === item.idorientador1) && qualificacao.preencher) { %>
                                <a class="btn btn-primary" href="<%- root %>/pgt/avaliar?pgt=<%- item.id %>">Avaliar</a>
                            <% } %>    
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
            </div>
            <div class="col-xl-6 mb-4">
                <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center" style="text-align: center;">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 align-items-center" style="font-size: 23px;">
                            Defesa</div>
                        <div class="h5 text-gray-800 mb-1" style="font-size: 30px;">
                            <%=(defesa.nota ? defesa.nota.toFixed(1).replace('.', ',') : 'Não Avaliado') %>
                        </div>
                        <% if(item.idfase === FasePGT.PGT2 && (usuario.id === item.idqualificador || usuario.id === item.idorientador2 || usuario.id === item.iddefesa2) && defesa.preencher) { %>
                                <a class="btn btn-primary" href="<%- root %>/pgt/avaliar?pgt=<%- item.id %>">Avaliar</a>
                        <% } %>    
                    </div>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="row">
            <div class="col-xl-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Professores Orientadores</div>
                        <div class="h5 mb-0 text-gray-800">
                            <%="Orientador 1 - " + (item.nomeorientador1 ? item.nomeorientador1 : 'Nenhum') +
                            "\n Orientador 2 - " + (item.nomeorientador2 ? item.nomeorientador2 : 'Nenhum')%>
                        </div>
                    </div>
                        <div class="col-auto">
                            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        
         </div>
        </div>
        <div class="row">
            <div class="col-xl-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Qualificador</div>
                        <div class="h5 mb-0 text-gray-800">
                            <%=(item.nomequalificador ? item.nomequalificador : 'Nenhum') %>
                        </div>
                    </div>
                        <div class="col-auto">
                            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        </div>
        <div class="row d-none">
            <div class="col-xl-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Defesa 1</div>
                        <div class="h5 mb-0 text-gray-800">
                            <%=(item.nomedefesa1 ? item.nomedefesa1 : 'Nenhum') %>
                        </div>
                    </div>
                        <div class="col-auto">
                            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        </div>
        <div class="row">
            <div class="col-xl-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Avaliador</div>
                        <div class="h5 mb-0 text-gray-800">
                            <%=(item.nomedefesa2 ? item.nomedefesa2 : 'Nenhum') %>
                        </div>
                    </div>
                        <div class="col-auto">
                            <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#anexosModal">
    <i class="fa fa-paperclip"></i>
    Visualizar Anexos
</button>

<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#uploadModal">
    <i class="fa fa-paperclip"></i>
    Fazer Uploads
</button>

<a target="_blank" class="btn btn-primary mb-3 ml-3" href="<%= root %>/pgt/visualizar?id=<%= item.id %>">
    <i class="far fa-file"></i>
    Visualizar avaliações
</a>

<input type="hidden" id="pgtId" value="<%- item.id %>" />

<div class="modal fade" id="anexosModal" tabindex="-1" role="dialog" aria-labelledby="anexosModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="anexosModalLabel">Anexos do PGT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <% if (item.hasAnexo) { %>
                    <a target="_blank" class="btn btn-primary mb-2" href="<%- root %>/api/pgt/downloadAnexo?id=<%- item.id %>&idfase=1">
                        <i class="fa fa-paperclip"></i>
                        Projeto PGT I
                    </a>
                    <% } %>

                    <% if (item.hasAnexo2) { %>
                    <a target="_blank" class="btn btn-primary mb-2" href="<%- root %>/api/pgt/downloadAnexo?id=<%- item.id %>&idfase=2">
                        <i class="fa fa-paperclip"></i>
                        Projeto PGT II
                    </a>
                    <% } %>

                    <% if (item.hasAta1) { %>
                    <a target="_blank" class="btn btn-primary mb-2" href="<%- root %>/api/pgt/downloadAta?id=<%- item.id %>&idfase=1">
                        <i class="fa fa-file-alt"></i>
                        Ata PGT I
                    </a>
                    <% } %>

                    <% if (item.hasAta2) { %>
                    <a target="_blank" class="btn btn-primary mb-2" href="<%- root %>/api/pgt/downloadAta?id=<%- item.id %>&idfase=2">
                        <i class="fa fa-file-alt"></i>
                        Ata PGT II
                    </a>
                    <% } %>

                    <% if (!item.hasAnexo && !item.hasAnexo2 && !item.hasAta1 && !item.hasAta2) { %>
                        <p> Não há anexos para esse PGT. </p>
                    <% } %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Uploads do PGT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="form-group p-10 <%- (item.idfase === FasePGT.PGT1 ? '' : 'd-none') %>">
                        <label for="anexo">PGT I</label>
                        <input class="form-control" type="file" id="anexo" name="anexo" accept=".pdf" />
                    </div>
                    <div class="form-group p-10 <%- (item.idfase === FasePGT.PGT2 ? '' : 'd-none') %>">
                        <label for="anexo2">PGT II</label>
                        <input class="form-control" type="file" id="anexo2" name="anexo2" accept=".pdf" />
                    </div>
                    <div class="form-group p-10 <%- (item.idfase === FasePGT.PGT1 ? '' : 'd-none') %>">
                        <label for="ata1">Ata PGT I</label>
                        <input class="form-control" type="file" id="ata1" name="ata1" accept=".pdf" />
                    </div>
                    <div class="form-group p-10 <%- (item.idfase === FasePGT.PGT2 ? '' : 'd-none') %>">
                        <label for="ata2">Ata PGT II</label>
                        <input class="form-control" type="file" id="ata2" name="ata2" accept=".pdf" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSalvarUploads" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    "use strict";
    (function () {
        $("#btnSalvarUploads").on("click", function () {
            var id = document.getElementById("pgtId").value;
            var f1 = document.getElementById("anexo");
            var f2 = document.getElementById("anexo2");
            var a1 = document.getElementById("ata1");
            var a2 = document.getElementById("ata2");

            var fd = new FormData();
            fd.append("id", id);

            if (f1 && f1.files && f1.files.length > 0)
                fd.append("anexo", f1.files[0]);
            if (f2 && f2.files && f2.files.length > 0)
                fd.append("anexo2", f2.files[0]);
            if (a1 && a1.files && a1.files.length > 0)
                fd.append("ata1", a1.files[0]);
            if (a2 && a2.files && a2.files.length > 0)
                fd.append("ata2", a2.files[0]);

            Swal.wait();

            if (typeof window.JsonWebApi !== "undefined" && typeof JsonWebApi.postFormData === "function" && JsonWebApi.active) {
                JsonWebApi.postFormData("<%- root %>/api/pgt/uploadAnexosEAtas", fd, function (response) {
                    if (!response || response.success) {
                        Swal.success("Uploads salvos com sucesso!").then(function () {
                            location.reload();
                        });
                    } else {
                        Swal.error((response ? response.value : "Erro ao salvar") + " ");
                    }
                });
                return;
            }

            fetch("<%- root %>/api/pgt/uploadAnexosEAtas", {
                method: "POST",
                body: fd,
                credentials: "same-origin"
            }).then(function (resp) {
                if (resp.ok) {
                    Swal.success("Uploads salvos com sucesso!").then(function () {
                        location.reload();
                    });
                } else {
                    return resp.text().then(function (txt) {
                        Swal.error((txt || ("Erro: " + resp.status)) + " ");
                    });
                }
            }).catch(function (err) {
                console.error(err);
                Swal.error("Erro ao enviar uploads");
            });
        });
    })();
</script>
