<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="form-group">
	<label for="nome">Nome</label>
	<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
</div>

<div class="form-group">
	<label for="idtipo">Tipo</label>
	<select id="idtipo" name="idtipo" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < tipos.length; i++) { %>
		<option value="<%= tipos[i].id %>" <%-((item && item.idtipo === tipos[i].id) ? 'selected="selected"' : '') %>><%= tipos[i].nome %></option>
		<% } %>
	</select>
</div> 


<div class="form-group">
	<label for="idfase">Fase</label>
	<select id="idfase" name="idfase" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < fases.length; i++) { %>
		<option value="<%= fases[i].id %>" <%-((item && item.idfase === fases[i].id) ? 'selected="selected"' : '') %>><%= fases[i].nome %></option>
		<% } %>
	</select>
</div>

<div class="form-group mb-0">
	<label for="idusuario">Professor</label>
	<select id="idusuario" name="idusuario" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < usuarios.length; i++) { %>
		<option value="<%= usuarios[i].id %>" <%-((item && item.idusuario === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
		<% } %>
	</select>
</div>

<!-- Relatório de Avaliação – PGT PROJETO EMPREENDEDOR (EMP) - 8º Semestre - PGT_2		 -->

<div class="mb-5">

	<div class="form-group">
		<label style="font-weight:bolder;" for="">1. INTRODUÇÃO - 10%</label>
		<input class="form-control-sm" type="number" value="">
	</div>


	<div class="form-group">
		<label style="font-weight:bolder;" for="">2. MODELO DE NEGOCIO - 10%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">3. DIAGNÓSTICO - 30%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">4. DESENVOLVIMENTO - 35%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">5. ELEMENTOS TEXTUAIS- 5%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">6. APRESENTAÇÃO- 5%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group mt-4">
		<label style="font-weight:bolder;" for="">NOTA DO TRABALHO AVALIADO:</label>
		<input class="form-control-sm" type="number" value="">
   </div>

   <div class="input-group">
	<div class="input-group-prepend">
	  <span class="input-group-text">Comentários <br> gerais</span>
	  
	</div>
	<textarea class="form-control" aria-label="Comentarios gerais"></textarea>
  </div>

</div>

<!-- Relatório de Avaliação  – PGT ESTUDO DE CASO (EC) - 8º Semestre	- PGT_2	 -->

<div class="mb-5">

	<div class="form-group">
		<label style="font-weight:bolder;" for="">1. INTRODUÇÃO - 10%</label>
		<input class="form-control-sm" type="number" value="">
	</div>


	<div class="form-group">
		<label style="font-weight:bolder;" for="">2. METODOLOGIA - 10%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">3. DIAGNÓSTICO - 30%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">4. DESENVOLVIMENTO - 30%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">5. ELEMENTOS TEXTUAIS - 10%</label>
		<input class="form-control-sm" type="number" value="">
   </div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">6. APRESENTAÇÃO - 10%</label>
		<input class="form-control-sm" type="number" value="">
   </div>

   <div class="form-group mt-4">
		<label style="font-weight:bolder;" for="">NOTA DO TRABALHO AVALIADO:</label>
		<input class="form-control-sm" type="number" value="">
   </div>

   <div class="input-group">
	<div class="input-group-prepend">
	  <span class="input-group-text">Comentários <br> gerais</span>
	  
	</div>
	<textarea class="form-control" aria-label="Comentarios gerais"></textarea>
  </div>

</div>


<!-- Relatório de Avaliação  – PGT PESQUISA ACADÊMICA (PA) - 8º Semestre - PGT_2	 -->


<div class="mb-5">

	<div class="form-group ">
		<label style="font-weight:bolder;" for="">1. INTRODUÇÃO - 10%</label>
		<input class="form-control-sm " type="number" value="">
	</div>


	<div class="form-group">
		<label style="font-weight:bolder;" for="">2. FUNDAMENTAÇÃO TEÓRICA - 35%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">3. PLANEJAMENTO DO PROJETO DE PESQUISA- 35%</label>
		<input class="form-control-sm" type="number" value="">
	</div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">4. ELEMENTOS TEXTUAIS - 5%</label>
		<input class="form-control-sm" type="number" value="">
   </div>

	<div class="form-group">
		<label style="font-weight:bolder;" for="">5. APRESENTAÇÃO - 5%</label>
		<input class="form-control-sm" type="number" value="">
   </div>

   <div class="form-group mt-4">
	<label style="font-weight:bolder;" for="">NOTA DO TRABALHO AVALIADO:</label>
	<input class="form-control-sm" type="number" value="">
   </div>

   <div class="input-group">
	<div class="input-group-prepend">
	  <span class="input-group-text">Comentários <br> gerais</span>
	  
	</div>
	<textarea class="form-control" aria-label="Comentarios gerais"></textarea>
  </div>

</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true
			}, 
			idtipo: {
				required: true
			}, 
			idfase: {
				required: true
			}, 
			idusuario: {
				required: true
			}
		}, 
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/editar2", form, function (response) {
				if (response.success)
					Swal.success("PGT 2 alterado com sucesso! " + emoji.happy);
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Swal.success("PGT 2 criado com sucesso! " + emoji.happy);
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
