<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="form-group">
	<label for="nome">Nome</label>
	<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
</div>

<div class="row">
	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idtipo">Tipo</label>
			<select id="idtipo" name="idtipo" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < tipos.length; i++) { %>
				<option value="<%= tipos[i].id %>" <%-((item && item.idtipo === tipos[i].id) ? 'selected="selected"' : '') %>><%= tipos[i].nome %></option>
				<% } %>
			</select>
		</div> 
	</div> 

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idfase">Fase</label>
			<select id="idfase" name="idfase" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < fases.length; i++) { %>
				<option value="<%= fases[i].id %>" <%-((item && item.idfase === fases[i].id) ? 'selected="selected"' : '') %>><%= fases[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idsemestre">Semestre</label>
			<select id="idsemestre" name="idsemestre" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < semestres.length; i++) { %>
				<option value="<%= semestres[i].id %>" <%-((item && item.idsemestre === semestres[i].id) ? 'selected="selected"' : '') %>><%= semestres[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idorientador">Professor Orientador</label>
			<select id="idorientador" name="idorientador" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < usuarios.length; i++) { %>
				<option value="<%= usuarios[i].id %>" <%-((item && item.idorientador === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

<% if (item) { %>
	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idqualificador">Professor Qualificador</label>
			<select id="idqualificador" name="idqualificador" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < usuarios.length; i++) { %>
				<option value="<%= usuarios[i].id %>" <%-((item && item.idqualificador === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="iddefesa1">Professor de Defesa 1</label>
			<select id="iddefesa1" name="iddefesa1" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < usuarios.length; i++) { %>
				<option value="<%= usuarios[i].id %>" <%-((item && item.iddefesa1 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="iddefesa2">Professor de Defesa 2</label>
			<select id="iddefesa2" name="iddefesa2" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < usuarios.length; i++) { %>
				<option value="<%= usuarios[i].id %>" <%-((item && item.iddefesa2 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-12">
		<div class="form-group">
			<label for="anexo">Trabalho</label>
			<input class="form-control" type="file" id="anexo" name="anexo" accept=".pdf" />
		</div>
	</div>
	<% } %>
</div>

<%- include("editarAlunos") %>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true
			}, 
			idtipo: {
				required: true
			}, 
			idsemestre: {
				required: true
			}, 
			idorientador: {
				required: true
			},
			anexo: {
				required: false
			}
		}, 
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/editar", new FormData(form), function (response) {
				if (response.success){
					Swal.success("PGT alterado com sucesso! " + emoji.happy);
					window.location.href = "/pgt/listar";
				}
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/criar", new FormData(form), function (response) {
				if (response.success) {
					resetForm("#form");
					$("#tabelabody").empty();
					Swal.success("PGT criado com sucesso! " + emoji.happy).then(() => {
						window.location.href = "/pgt/listar"
					});
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
