<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="form-group">
	<label for="nome">Nome</label>
	<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
</div>

<div class="form-group">
	<label for="data1" id="ldata1">Data da banca PGT 1</label>
	<input id="data1" name="data1" class="form-control" type="date" value="<%=(item ? item.data1 : '') %>" />
</div>

<div class="form-group">
	<label for="data2" id="ldata2">Data da banca PGT 2</label>
	<input id="data2" name="data2" class="form-control" type="date" value="<%=(item ? item.data2 : '') %>" />
</div>



<div class="row">
	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idtipo">Tipo</label>
			<select id="idtipo" name="idtipo" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < tipos.length; i++) { %>
				<option value="<%= tipos[i].id %>" <%-((item && item.idtipo === tipos[i].id) ? 'selected="selected"' : '') %>><%= tipos[i].nome %></option>
				<% } %>
			</select>
		</div> 
	</div> 

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idfase">Fase</label>
			<select id="idfase" name="idfase" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < fases.length; i++) { %>
				<option value="<%= fases[i].id %>" <%-((item && item.idfase === fases[i].id) ? 'selected="selected"' : '') %>><%= fases[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idsemestre">Semestre</label>
			<select id="idsemestre" name="idsemestre" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < semestres.length; i++) { %>
				<option value="<%= semestres[i].id %>" <%-((item && item.idsemestre === semestres[i].id) ? 'selected="selected"' : '') %>><%= semestres[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idorientador1">Professor Orientador 1</label>
			<div class="cb-search">
				<select id="idorientador1" name="idorientador1" class="form-control" size="1">
					<option value="">Selecione...</option>
					<% for (let i = 0; i < usuarios.length; i++) { %>
					<option value="<%= usuarios[i].id %>" <%-((item && item.idorientador1 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idqualificador">Professor Qualificador</label>
			<div class="cb-search">
				<select id="idqualificador" name="idqualificador" class="form-control" size="1">
					<option value="">Selecione...</option>
					<% for (let i = 0; i < usuarios.length; i++) { %>
					<option value="<%= usuarios[i].id %>" <%-((item && item.idqualificador === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-3" id="orientador2">
		<div class="form-group">
			<label for="idorientador2">Professor Orientador 2</label>
			<div class="cb-search">
				<select id="idorientador2" name="idorientador2" class="form-control" size="1">
					<option value="">Selecione...</option>
					<% for (let i = 0; i < usuarios.length; i++) { %>
					<option value="<%= usuarios[i].id %>" <%-((item && item.idorientador2 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-3 d-none">
		<div class="form-group">
			<label for="iddefesa1">Professor de Defesa 1</label>
			<select id="iddefesa1" name="iddefesa1" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < usuarios.length; i++) { %>
				<option value="<%= usuarios[i].id %>" <%-((item && item.iddefesa1 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3" id="avaliador">
		<div class="form-group">
			<label for="iddefesa2">Professor Avaliador</label>
			<div class="cb-search">
				<select id="iddefesa2" name="iddefesa2" class="form-control" size="1">
					<option value="">Selecione...</option>
					<% for (let i = 0; i < usuarios.length; i++) { %>
					<option value="<%= usuarios[i].id %>" <%-((item && item.iddefesa2 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>
</div>

<% if (item) { %>
	<div class="row">
		<div class="col-6">
			<div class="form-group p-10">
				<label for="anexo">PGT I</label>
				<input class="form-control" type="file" id="anexo" name="anexo" accept=".pdf" />
			</div>
		</div>
		<div class="col-6" id="pgt2">
			<div class="form-group p-10">
				<label for="anexo2">PGT II</label>
				<input class="form-control" type="file" id="anexo2" name="anexo2" accept=".pdf" />
			</div>
		</div>
	</div>
<% } %>

<%- include("editarAlunos") %>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	prepareCbSearch(document.getElementById("idorientador1"));
	prepareCbSearch(document.getElementById("idqualificador"));
	prepareCbSearch(document.getElementById("idorientador2"))
	prepareCbSearch(document.getElementById("iddefesa2"))

	document.addEventListener('DOMContentLoaded', function() {
	const faseElement = document.getElementById('idfase');

	const orientador2Div = document.getElementById('orientador2');
	const orientador2Select = document.getElementById('idorientador2')

	const data2Div = document.getElementById('data2')
	const data2Label = document.getElementById('ldata2')

	const avaliadorDiv = document.getElementById('avaliador');
	const avaliadorSelect = document.getElementById('iddefesa2');

	const pgt2Div = document.getElementById('pgt2');

	function checkFase() {

		if (faseElement && orientador2Div) {
			if (faseElement.value < 2) {
				orientador2Div.classList.add("d-none");
				orientador2Select.disabled = true;
				data2Div.classList.add("d-none");
				data2Label.classList.add("d-none");
				pgt2Div.classList.add("d-none");
				avaliadorDiv.classList.add("d-none");
				avaliadorSelect.disabled = true;
			}
			else {
				if (orientador2Div.classList.contains("d-none")) {
					orientador2Div.classList.remove("d-none");
				}
				orientador2Select.disabled = false;
				if (data2Div.classList.contains("d-none")) {
					data2Div.classList.remove("d-none");
					data2Label.classList.remove("d-none");
				}
				if (pgt2Div.classList.contains("d-none")) {
					pgt2Div.classList.remove("d-none")
				}
				if (avaliadorDiv.classList.contains("d-none")) {
					avaliadorDiv.classList.remove("d-none");
				}
				avaliadorSelect.disabled = false;
			}
    	}

}

	checkFase();

	if (faseElement) {
		faseElement.addEventListener('change', checkFase);
	}
	});

	$("#form").validate({
		rules: {
			nome: {
				required: true
			}, 
			idtipo: {
				required: true
			}, 
			idfase: {
				required: true
			},
			idsemestre: {
				required: true
			}, 
			idorientador1: {
				required: true
			},
		}, 
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/editar", new FormData(form), function (response) {
				if (response.success){
					Swal.success("PGT alterado com sucesso! " + emoji.happy);
				}
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/criar", new FormData(form), function (response) {
				if (response.success) {
					resetForm("#form");
					$("#tabelabody").empty();
					Swal.success("PGT criado com sucesso! " + emoji.happy).then(() => {
					});
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
