<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="form-group">
	<label for="nome">Nome</label>
	<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
</div>

<div class="form-group">
	<label for="idtipo">Tipo</label>
	<select id="idtipo" name="idtipo" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < tipos.length; i++) { %>
		<option value="<%= tipos[i].id %>" <%-((item && item.idtipo === tipos[i].id) ? 'selected="selected"' : '') %>><%= tipos[i].nome %></option>
		<% } %>
	</select>
</div> 


<div class="form-group">
	<label for="idfase">Fase</label>
	<select id="idfase" name="idfase" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < fases.length; i++) { %>
		<option value="<%= fases[i].id %>" <%-((item && item.idfase === fases[i].id) ? 'selected="selected"' : '') %>><%= fases[i].nome %></option>
		<% } %>
	</select>
</div>

<div class="form-group mb-0">
	<label for="idusuario">Professor</label>
	<select id="idusuario" name="idusuario" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < usuarios.length; i++) { %>
		<option value="<%= usuarios[i].id %>" <%-((item && item.idusuario === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
		<% } %>
	</select>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true
			}, 
			idtipo: {
				required: true
			}, 
			idfase: {
				required: true
			}, 
			idusuario: {
				required: true
			}
		}, 
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/editar2", form, function (response) {
				if (response.success)
					Swal.success("PGT 2 alterado com sucesso! " + emoji.happy);
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Swal.success("PGT 2 criado com sucesso! " + emoji.happy);
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
