<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="form-group">
	<label for="nome">Nome</label>
	<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
</div>

<div class="form-group">
	<label for="idtipo">Tipo</label>
	<select id="idtipo" name="idtipo" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < tipos.length; i++) { %>
		<option value="<%= tipos[i].id %>" <%-((item && item.idtipo === tipos[i].id) ? 'selected="selected"' : '') %>><%= tipos[i].nome %></option>
		<% } %>
	</select>
</div> 


<div class="form-group">
	<label for="idfase">Fase</label>
	<select id="idfase" name="idfase" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < fases.length; i++) { %>
		<option value="<%= fases[i].id %>" <%-((item && item.idfase === fases[i].id) ? 'selected="selected"' : '') %>><%= fases[i].nome %></option>
		<% } %>
	</select>
</div>

<div class="form-group mb-5">
	<label for="idorientador1">Orientador 1</label>
	<select id="idorientador1" name="idorientador1" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < usuarios.length; i++) { %>
		<option value="<%= usuarios[i].id %>" <%-((item && item.idorientador1 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
		<% } %>
	</select>
</div>

<div class="form-group mb-5">
	<label for="idorientador2">Orientador 2</label>
	<select id="idorientador2" name="idorientador2" class="form-control" size="1">
		<option value="">Selecione...</option>
		<% for (let i = 0; i < usuarios.length; i++) { %>
		<option value="<%= usuarios[i].id %>" <%-((item && item.idorientador2 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
		<% } %>
	</select>
</div>


<!-- Relatório de Qualificação – PGT PROJETO EMPREENDEDOR (EMP) - 7º Semestre - PGT			 -->

    <div class="mb-5">

		'projeto empreendedor'
		<hr class="mb-5">

		<div class="form-group">
			<label style="font-weight:bolder;" for="">1. INTRODUÇÃO - 15%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_intro_emp">Critérios</button>
			<div id="criterios_intro_emp" class="collapse">
				Estrutura do Sumário, sequência e conteúdo proposto.
				<br>
				Apresentação do Projeto Empreendedor - Conceito do negócio.
			</div>
			
		</div>


		<div class="form-group">
			<label style="font-weight:bolder;" for="">2. MODELO DE NEGOCIO - 20%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_modelo_emp">Critérios</button>
			<div id="criterios_modelo_emp" class="collapse">
				Canvas do Produto ou Serviço - proposta inicial.
			</div>
			
		</div>

		<div class="form-group">
			<label style="font-weight:bolder;" for="">3. DIAGNÓSTICO - 20%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_diagnostico_emp">Critérios</button>
			<div id="criterios_diagnostico_emp" class="collapse">
				Ambiente de negócio (macro e microambiente).
				<br>
				Viabilidade mercadológica do produto ou serviço
			</div>
		</div>
			

		<div class="form-group">
			<label style="font-weight:bolder;" for="">4. DESENVOLVIMENTO - 30%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_desenvolvimento_emp">Critérios</button>
			<div id="criterios_desenvolvimento_emp" class="collapse">
				Descrição de Requisitos (a partir das pesquisas com usuários – Use Cases).
				<br>
				Definição do Modelo Conceitual (diagramas UML).
				<br>
				Simulação, Protótipo ou MVP - versão inicial.
				<br>
				Testes para aceitação e validação do MVP.
				</div>
		</div>

		<div class="form-group">
			<label style="font-weight:bolder;" for="">5. ELEMENTOS TEXTUAIS- 15%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_elementos_emp">Critérios</button>
			<div id="criterios_elementos_emp" class="collapse">
				Organização e apresentação de acordo com a ABNT.
				<br>
				Clareza, formatação e correção da redação.
				</div>
		</div>

		<div class="form-group mt-4">
			<label style="font-weight:bolder;" for="">NOTA DO TRABALHO AVALIADO:</label>
			<input class="form-control-sm" type="number" value="">
	   </div>

	   <div class="input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text">Comentários <br> gerais</span>
		  
		</div>
		<textarea class="form-control" aria-label="Comentarios gerais"></textarea>
	  </div>

	</div>

	<!-- Relatório de Qualificação  – PGT ESTUDO DE CASO (EC) - 7º Semestre	- PGT_1		 -->

	<div class="mb-5">

		'estudo de caso'
		<hr class="mb-5">

		<div class="form-group">
			<label style="font-weight:bolder;" for="">1. INTRODUÇÃO - 20%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_intro_caso">Critérios</button>
			<div id="criterios_intro_caso" class="collapse">
				Estrutura do Sumário, sequência e conteúdo proposto
				<br>
				Apresentação do estudo de caso
				<br>
				Contextualização
			</div>
			
		</div>


		<div class="form-group">
			<label style="font-weight:bolder;" for="">2. METODOLOGIA - 20%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_metodologia_caso">Critérios</button>
			<div id="criterios_metodologia_caso" class="collapse">
				Percurso metodológico
				<br>
				Abordagem e Métodos de pesquisa escolhidos
				<br>
				Tipos e Técnicas de pesquisa adotados
			</div>
		</div>

		<div class="form-group">
			<label style="font-weight:bolder;" for="">3. DIAGNÓSTICO - 30%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_diagnostico_caso">Critérios</button>
			<div id="criterios_diagnostico_caso" class="collapse">
				Análise do Ambiente, Competitiva e/ou Comparativa
				<br>
				Análise do Objeto de Avaliação (Empresa, Produto, Jogo, etc)  e de seus recursos
				<br>
				Diagnóstico do Ambiente de Negócios
			</div>
		</div>

		<div class="form-group">
			<label style="font-weight:bolder;" for="">4. PLANEJAMENTO DO PROJETO DE PESQUISA - 25%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_planejamento_caso">Critérios</button>
			<div id="criterios_planejamento_caso" class="collapse">
				Cronograma de trabalho
				<br>
				Planejamento do Projeto de Pesquisa
			</div>
		</div>

		<div class="form-group">
			<label style="font-weight:bolder;" for="">5. APRESENTAÇÃO ORAL E ESCRITA - 15%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_apresentacao_caso">Critérios</button>
			<div id="criterios_apresentacao_caso" class="collapse">
				Organização e apresentação
				<br>
				Clareza, formatação e correção da redação
				<br>
				Organização da Apresentação Oral
				<br>
				Oratória
			</div>
	   </div>

	   <div class="form-group mt-4">
			<label style="font-weight:bolder;" for="">NOTA DO TRABALHO AVALIADO:</label>
			<input class="form-control-sm" type="number" value="">
 	  </div>

	   <div class="input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text">Comentários <br> gerais</span>
		  
		</div>
		<textarea class="form-control" aria-label="Comentarios gerais"></textarea>
	  </div>

	</div>


	<!-- Relatório de Qualificação  – PGT PESQUISA ACADÊMICA (PA) - 7º Semestre	- PGT_1		 -->


	<div class="mb-5">

		'pesquisa academica'
		<hr class="mb-5">

		<div class="form-group ">
			<label style="font-weight:bolder;" for="">1. INTRODUÇÃO - 30%</label>
			<input class="form-control-sm " type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_intro_pesquisa">Critérios</button>
			<div id="criterios_intro_pesquisa" class="collapse">
				Estrutura do Sumário, sequência e conteúdo proposto
				<br>
				Apresentação do Projeto 
				<br>
				Contextualização
			</div>
		</div>


		<div class="form-group">
			<label style="font-weight:bolder;" for="">2. FUNDAMENTAÇÃO TEÓRICA - 30%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_fundamentacao_pesquisa">Critérios</button>
			<div id="criterios_fundamentacao_pesquisa" class="collapse">
				Revisão Bibliográfica
				<br>
				Percurso metodológico
				<br>
				Referências bibliográficas
				<br>
				Tipos e técnicas de pesquisa adotados
			</div>
		</div>

		<div class="form-group">
			<label style="font-weight:bolder;" for="">3. PLANEJAMENTO DO PROJETO DE PESQUISA- 25%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_planejamento_pesquisa">Critérios</button>
			<div id="criterios_planejamento_pesquisa" class="collapse">
				Cronograma de Trabalho
				<br>
				Planejamento do Projeto de Pesquisa
				<br>
				Projeto Arquitetônico  
				<br>
				Desenvolvimento do Objeto de Pesquisa
			</div>
		</div>

		<div class="form-group">
			<label style="font-weight:bolder;" for="">4. APRESENTAÇÃO ORAL E ESCRITA - 15%</label>
			<input class="form-control-sm" type="number" value="">
			<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#criterios_apresentacao_oral">Critérios</button>
			<div id="criterios_apresentacao_oral" class="collapse">
				Organização e apresentaçao.
				<br>
				Clareza, formatação e correção da redação
				<br>
				Coerência dos resultados apresentados
				<br>
				Organização da Apresentação
				<br>
				Oratória
			</div>
	   </div>

	   <div class="form-group mt-4">
		<label style="font-weight:bolder;" for="">NOTA DO TRABALHO AVALIADO:</label>
		<input class="form-control-sm" type="number" value="">
 	  </div>

	   <div class="input-group">
		<div class="input-group-prepend">
		  <span class="input-group-text">Comentários <br> gerais</span>
		  
		</div>
		<textarea class="form-control" aria-label="Comentarios gerais"></textarea>
	  </div>

	</div>
</div>



<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true
			}, 
			idtipo: {
				required: true
			}, 
			idfase: {
				required: true
			}, 
			idorientador1: {
				required: true
			}
		}, 
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/editar", form, function (response) {
				if (response.success)
					Swal.success("PGT alterado com sucesso! " + emoji.happy);
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Swal.success("PGT criado com sucesso! " + emoji.happy);
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
