<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="form-group">
	<label for="nome">Nome</label>
	<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
</div>

<div class="row">
	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idtipo">Tipo</label>
			<select id="idtipo" name="idtipo" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < tipos.length; i++) { %>
				<option value="<%= tipos[i].id %>" <%-((item && item.idtipo === tipos[i].id) ? 'selected="selected"' : '') %>><%= tipos[i].nome %></option>
				<% } %>
			</select>
		</div> 
	</div> 

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idfase">Fase</label>
			<select id="idfase" name="idfase" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < fases.length; i++) { %>
				<option value="<%= fases[i].id %>" <%-((item && item.idfase === fases[i].id) ? 'selected="selected"' : '') %>><%= fases[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idsemestre">Semestre</label>
			<select id="idsemestre" name="idsemestre" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < semestres.length; i++) { %>
				<option value="<%= semestres[i].id %>" <%-((item && item.idsemestre === semestres[i].id) ? 'selected="selected"' : '') %>><%= semestres[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idorientador1">Professor Orientador 1</label>
			<div class="cb-search">
				<select id="idorientador1" name="idorientador1" class="form-control" size="1">
					<option value="">Selecione...</option>
					<% for (let i = 0; i < usuarios.length; i++) { %>
					<option value="<%= usuarios[i].id %>" <%-((item && item.idorientador1 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-3" id="orientador2">
		<div class="form-group">
			<label for="idorientador2">Professor Orientador 2</label>
			<div class="cb-search">
				<select id="idorientador2" name="idorientador2" class="form-control" size="1">
					<option value="">Selecione...</option>
					<% for (let i = 0; i < usuarios.length; i++) { %>
					<option value="<%= usuarios[i].id %>" <%-((item && item.idorientador2 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>

<% if (item) { %>
	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="idqualificador">Professor Qualificador</label>
			<select id="idqualificador" name="idqualificador" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < usuarios.length; i++) { %>
				<option value="<%= usuarios[i].id %>" <%-((item && item.idqualificador === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3 d-none">
		<div class="form-group">
			<label for="iddefesa1">Professor de Defesa 1</label>
			<select id="iddefesa1" name="iddefesa1" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < usuarios.length; i++) { %>
				<option value="<%= usuarios[i].id %>" <%-((item && item.iddefesa1 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-sm-6 col-md-3">
		<div class="form-group">
			<label for="iddefesa2">Professor Avaliador</label>
			<select id="iddefesa2" name="iddefesa2" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < usuarios.length; i++) { %>
				<option value="<%= usuarios[i].id %>" <%-((item && item.iddefesa2 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>

	<div class="col-12">
		<div class="form-group">
			<label for="anexo">Trabalho</label>
			<input class="form-control" type="file" id="anexo" name="anexo" accept=".pdf" />
		</div>
	</div>
	<% } %>
</div>

<%- include("editarAlunos") %>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	prepareCbSearch(document.getElementById("idorientador1"));
	prepareCbSearch(document.getElementById("idorientador2"));

	// Esconde o bloco orientador2 quando o pgt sendo criado não for do 8° semestre
	document.addEventListener('DOMContentLoaded', function() {
	const semestreElement = document.getElementById('idsemestre');
	const orientador2Div = document.getElementById('orientador2');
	const orientador2Select = document.getElementById('idorientador2');
	const orientador2Label = orientador2Div.querySelector('label');

	function checkSemestre() {
    if (semestreElement && orientador2Select) {
      const isDisabled = semestreElement.value != '2';
      orientador2Select.disabled = isDisabled;
      orientador2Div.classList.toggle('disabled', isDisabled);
	  orientador2Label.style.color = isDisabled ? '#6c757d' : '#000';
    }
  }

	// Verifica o valor inicial
	checkSemestre();

	// Verifica novamente quando o valor for alterado
	if (semestreElement) {
		semestreElement.addEventListener('change', checkSemestre);
	}
	});

	$("#form").validate({
		rules: {
			nome: {
				required: true
			}, 
			idtipo: {
				required: true
			}, 
			idsemestre: {
				required: true
			}, 
			idorientador1: {
				required: true
			},
		}, 
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/editar", new FormData(form), function (response) {
				if (response.success){
					Swal.success("PGT alterado com sucesso! " + emoji.happy);
				}
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/pgt/criar", new FormData(form), function (response) {
				if (response.success) {
					resetForm("#form");
					$("#tabelabody").empty();
					Swal.success("PGT criado com sucesso! " + emoji.happy).then(() => {
					});
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
