<table class="table table-flush table-striped table-hover" id="tabela"></table>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var regExpVirgula = /\,\s/g;
	var tabela = prepareDataTable("tabela", {
		order: [[1, "asc"]],
		deferRender: true,
		columns: [
			{ title: "", "class": "col-min", searchable: false, orderable: false, data: "id", render: function (v, type, row) { return '<a target="_blank" title="Editar" href="<%- root %>/pgt/editar?id=' + row.id + '" class="btn btn-sm btn-outline-primary"><i class="fa fa-fw fa-edit"></i></a> <button title="Excluir" type="button" data-excluir="1" class="btn btn-sm btn-outline-danger"><i class="fa fa-fw fa-times"></i></button>'; } },
			{ title: "Nome", render: encode, data: "nome", render: function (v, type, row) { return `<a target="_blank" href="<%- root %>/pgt/detalhar?id=${row.id}" class="btn btn-sm btn-outline-primary border border-primary"> <i class="fas fa-file-alt" style="padding-right: 3px;"></i> ${row.nome}</a>`} },
			{ title: "Tipo", render: encode, data: "tipo" }, 
			{ title: "Fase", render: encode, data: "fase" }, 
			{ title: "Semestre", render: encode, data: "semestre" }, 
			{ title: "Orientador1", render: encode, data: "nomeorientador1" },
			{ title: "Orientador2", render: encode, data: "nomeorientador2" },
			{ title: "Qualificador", render: encode, data: "nomequalificador" },
			{ title: "Defesa", render: encode, data: "defesa" },
			{ title: "Alunos", data: "alunos", render: function (v, type, row) { return (v ? encode(v).replace(regExpVirgula, '<br/>') : v); } },
			{ title: "Criação", "class": "col-min text-right", "type": "customdateint", data: "criacao" }
		],
		data: <%- JSON.stringify(lista) %>,
		export: { title: "PGTs" }
	});

	$("#tabela").on("click", "tbody button", function () {
		if (JsonWebApi.active)
			return;

		var trClicada = this.parentNode.parentNode,
			nome = null,
			pgt = tabela.row(trClicada).data();

		if (this.getAttribute("data-excluir")) {
			Swal.okcancel({
				html: 'Tem certeza que deseja excluir o PGT "' + pgt.nome + '"? Esta operação NÃO pode ser desfeita!<br/><br/>Para confirmar a exclusão, por favor, digite abaixo o nome do PGT conforme exibido acima.<br/><br/><label for="txtExcluirNome">Nome do PGT</label><input type="text" class="form-control" spellcheck="false" autocomplete="off" id="txtExcluirNome" />',
				confirmButtonText: "Excluir",
				preConfirm: function () {
					nome = $("#txtExcluirNome").val().toLowerCase();
					return true;
				}
			}, null, true).then(function (result) {
				if (JsonWebApi.active || !trClicada)
					return;

				if (result.value) {
					if (nome !== pgt.nome.toLowerCase()) {
						Swal.error("O nome do PGT não confere! " + emoji.sad);
						return;
					}

					Swal.wait();

					JsonWebApi.delete("<%- root %>/api/pgt/excluir", function (response) {
						if (response.success) {
							Swal.success("PGT excluído com sucesso! " + emoji.happy);
							tabela.row(trClicada).remove().draw();
						} else {
							Swal.error(response.value + " " + emoji.sad);
						}
						trClicada = null;
					}, "id", pgt.id);
				}
			});
		}
	});

	//]]>
</script>
